{% extends 'registration/base.html' %}

{% load static %}

{% block content %}
<div class="signup">
	<h1>Sign Up</h1>
	  <form action="/" method="post">
	  {% csrf_token %}
	  <div class="p__name">
		<label>First Name<span class="req">*</span></label>
		<input type="text" placeholder= "first name" required="required" autocomplete="off" />
		<label>Last Name<span class="req">*</span></label>
		<input type="text" placeholder= "last name" required="required" autocomplete="off" />
	  </div>
		  <div class="p_acc">
			<label>Email Address<span class="req">*</span></label>
			<input type="text" placeholder= "email" required="required" autocomplete="off" />
			<label>Password<span class="req">*</span></label>
			<input type="password" placeholder="password" required="required" autocomplete="off"/>
			<label>Password Conformation<span class="req">*</span></label>
			<input type="password conformation" placeholder="password conformation" required="required" autocomplete="off"/>
		  </div>
		  <button type="submit" class="btn btn-primary">Log in</button>
	  </form>
</div>
{% endblock content %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock styles %}
